@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/effect-fade";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;

  --animate-loader: loader 1s infinite alternate;
  @keyframes loader {
    50% {
      transform: translateX(-25px) scaleY(0.5);
    }
  }
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #FFCB0F;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.text-gradient {
  background: linear-gradient(135deg, #FFB800 0%, #FFCB0F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Custom Swiper Styles */
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background: #ffcb0f !important;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  transform: scale(0.6);
}
