@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/effect-fade";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --animate-loader: loader 1s infinite alternate;
  @keyframes loader {
    50% {
      transform: translateX(-25px) scaleY(0.5);
    }
  }
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #00c2ff;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-gradient {
  background: linear-gradient(135deg, #00c2ff 0%, #3498db 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Custom Swiper Styles */
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background: #ffcb0f !important;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  transform: scale(0.6);
}
